* {
  cursor: default;
  font-size: 12px;
  font-family: sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0;
  background: #222222;
  margin: 4em;
}

.grid {
  height: calc(100vh - 8em);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  overflow: clip;
  margin: auto;
  grid-gap: 4em;
}

.overlay {
  width: 100%;
  height: 100%;
  overflow: clip;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: white;
  border-radius: 8px;
}

.overlay-title {
  position: absolute;
  text-align: center;
  color: inherit;
  pointer-events: none;
  z-index: 1;
  font-size: 2em;
  padding: 1em;
}

.overlay-image, a {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s;
  filter: brightness(0.75);
}

.overlay-image:hover {
  transform: scale(1.10);
  filter: brightness(1);
  cursor: pointer;
}

#overlay-name {
  grid-column: span 2;
  background: #222222;
  color: white;
}

#overlay-image-name {
  filter: blur(2px) brightness(0.7);
}

#overlay-image-name:hover {
  transform: scale(1);
  cursor: default;
}

#name {
  font-weight: bold;
  font-size: 2em;
}

#description {
  max-width: 800px;
  margin: auto;
  pointer-events: auto;
}

#description p {
  font-size: 1.5em;
  font-weight: normal;
}

#inline-email {
  color: lightblue;
  font-size: inherit;
}

#inline-email:hover {
  cursor: text;
}

#webdev-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

#webdev-animation {
  background: linear-gradient(-45deg, #7400b8ff, #6930c3ff, #5e60ceff, #5390d9ff, #4ea8deff, #48bfe3ff, #56cfe1ff, #64dfdfff, #72efddff, #80ffdbff);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100%;
  width: 100%;
  transition: 1s;
  cursor: pointer;
  border-radius: 8px;
}

#webdev-animation:hover {
  filter: brightness(2);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 900px) {
  body {
    margin: 0;
  }

  .grid {
    grid-gap: 0;
    height: calc(100vh * 2);
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
  }

  #overlay-name {
    grid-column: span 1;
    font-size: 1em;
  }

  .overlay {
    font-size: 2em;
    border-radius: 0;
  }

  .overlay-title {
    font-weight: bold;
  }

  #webdev-animation {
    border-radius: 0;
  }
}
